<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>LogIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
</head>
<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav storyp">
                <li class="nav-item">
                    <a class="nav-link" href="#">Stories</a>
                </li>
                <li class="nav-item dropdown policyp">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Policy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex ">
                <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="Assets/images/user-img.png" class="img rounded-5" style="height: 40px; width: 40px;">
                </a>
                <div class="dropdown-center my-auto uname">
                    <a class="nav-link dropdown-toggle ms-1 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Evan Donohue</a>
                    <ul class=" dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="#">Action 1</a></li>
                        <li><a class="dropdown-item" href="#">Action 2 </a></li>
                        <li><a class="dropdown-item" href="#">Action 3 </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-3 ">
                <div class="search d-flex">
                    <button class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="text" class="form-control " placeholder="Search Mission...">

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-3 ">
                        <div class="dropdown  ">
                            <a class="nav-link dropdown-toggle ms-1 " href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Coutry</a>
                            <ul class=" dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li><a class="dropdown-item" href="#">Action 1</a></li>
                                <li><a class="dropdown-item" href="#">Action 2 </a></li>
                                <li><a class="dropdown-item" href="#">Action 3 </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle ms-1 " href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">City</a>
                            <ul class=" dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li><a class="dropdown-item" href="#">Action 1</a></li>
                                <li><a class="dropdown-item" href="#">Action 2 </a></li>
                                <li><a class="dropdown-item" href="#">Action 3 </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle ms-1 " href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Theme</a>
                            <ul class=" dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li><a class="dropdown-item" href="#">Action 1</a></li>
                                <li><a class="dropdown-item" href="#">Action 2 </a></li>
                                <li><a class="dropdown-item" href="#">Action 3 </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle ms-1 " href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Skills</a>
                            <ul class=" dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li><a class="dropdown-item" href="#">Action 1</a></li>
                                <li><a class="dropdown-item" href="#">Action 2 </a></li>
                                <li><a class="dropdown-item" href="#">Action 3 </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav storyp">
                <li class="nav-item">
                    <h3>Explore 72 missions</h3>
                </li>
            </ul>

            <div class=" d-flex  endtext1 ">
                <div class="btn-group pe-4">
                    <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
                <div class="pe-3">
                    <img src="Assets/images/grid.png" class=" " style="height: 40px; width: 40px;">
                </div>
                <div style="padding: 5px;">
                    <img src="Assets/images/list.png" class="  " style="height: 30px; width: 30px;">
                </div>
            </div>
        </div>
        </div>
    </nav>



    <div class="container">
    <div class="row">
                <div class="col-md-6">
                     <p><h3><span style= "color:#757575;">Explore</span>&nbsp;72 missions </h3></p>
                </div>
                <div class="col-md-6">
                   <div style="display:flex">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown borderforsortby">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #414141;">
                            Sort by
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">India</a></li>
                            <li><a class="dropdown-item" href="#">Rajkot</a></li>
                            <li><a class="dropdown-item" href="#">Morbi</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="grid" style="color:#757575"><img src="~/Assets/images/grid.png"> </a>
                    <a asp-action="ListView" class="list" style="color:#757575"><img src="~/images/list.png"/> </a>
                     
                    </div>
                </div>
                <div>
            </div>
       </div>
</div><br />


<div class="container">
    <div class="row" style="justify-content:space-around">
        
            <div class="card mb-5" style="width: 25rem;">
                <div>
                    <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width: 106%; margin-left: -11px;">
                     <div class="pin">
                      <img src="~/Assets/images/pin.png" style="margin-left: 5%;">&nbsp;&nbsp;<span style="color:white; font-size: 13px;">Rajkot</span>
                     </div>
                    <div class="">
                      <button id="heart"> <i class="bi bi-heart" style="color:white"></i></button>
                    </div>
                     <div class="">
                      <button id="stop"> <i class="bi bi-stop-fill" style="color:white"></i></button>
                    </div>
                    <div class="bgtheme">
                        <spam class="imgtheme">Environment</spam>
                    </div>
                </div>
                  
                 <div class="card-body">
                    <h5 class="card-title">Grow Tress - On The Path To Environment Sustanability</h5>
                    <p color"card-text" style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....</p>
                 </div>

                <div class="card-body">
                     <div class="row" style="margin-top:-12%;">
                          <div class="col">
                              <span id="Organisation">Tree Canada</span>
                          </div>
                            <div class="col">
                                <img src="~/Assets/images/selected-star.png"/>
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/star.png" />
                                <img src="~/Assets/images/star.png" />
                            </div>
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="row st_et">
                        <spam class="st_etdate">From 10/01/2019 unitl 25/02/2019</spam>
                    </div>
                 </div><br />
                <div class="card-body paddingforborder">
                    <div class="row borderforTGM" style="margin-top:-16%;">
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/Seats-left.png" style="margin-top: 14%;">
                            <p class="totalseates">10</p>
                            <p class="searestext">Seates Left</p>
                        </div>
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/deadline.png" style="margin-top: 10%;"/>
                            <span style="color: #414141;">19/09/2001</span>
                            <p class="deadlinetext">Deadline</p>
                        </div>
                    </div>
                 </div>

                 <div class="card-body">
                     <button id="btnapply">
                         <sapn style="color:#F88634;"> Apply &nbsp;<img src="~/Assets/images/right-arrow.png"/>
                         </sapn>
                        
                     </button>
                 </div><br /><br />
            </div>


            <div class="card mb-5" style="width: 25rem;">
                <div>
                    <img src="~/Assets/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="card-img-top" alt="..." style="width: 106%; margin-left: -11px;">
                     <div class="pin">
                      <img src="~/Assets/images/pin.png" style="margin-left: 5%;">&nbsp;&nbsp;<span style="color:white; font-size: 13px;">Rajkot</span>
                     </div>
                    <div class="">
                      <button id="heart"> <i class="bi bi-heart" style="color:white"></i></button>
                    </div>
                     <div class="">
                      <button id="stop"> <i class="bi bi-stop-fill" style="color:white"></i></button>
                    </div>
                    <div class="bgtheme">
                        <spam class="imgtheme1" style="text-align:center;">Children</spam>
                    </div>
                </div>
                  
                 <div class="card-body">
                    <h5 class="card-title">Grow Tress - On The Path To Environment Sustanability</h5>
                    <p color"card-text" style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....</p>
                 </div>

                <div class="card-body">
                     <div class="row" style="margin-top:-12%;">
                          <div class="col">
                              <span id="Organisation">Tree Canada</span>
                          </div>
                            <div class="col">
                                <img src="~/Assets/images/selected-star.png"/>
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/star.png" />
                                <img src="~/Assets/images/star.png" />
                            </div>
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="row st_et">
                        <spam class="st_etdate">From 10/01/2019 unitl 25/02/2019</spam>
                    </div>
                 </div><br />
                <div class="card-body paddingforborder">
                    <div class="row borderforTGM" style="margin-top:-16%;">
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/Seats-left.png" style="margin-top: 14%;">
                            <p class="totalseates">10</p>
                            <p class="searestext">Seates Left</p>
                        </div>
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/deadline.png" style="margin-top: 10%;"/>
                            <span style="color: #414141;">19/09/2001</span>
                            <p class="deadlinetext">Deadline</p>
                        </div>
                    </div>
                 </div>

                 <div class="card-body">
                     <button id="btnapply">
                         <sapn style="color:#F88634;"> Apply &nbsp;<img src="~/Assets/images/right-arrow.png"/>
                         </sapn>
                        
                     </button>
                 </div><br /><br />
            </div>

            <div class="card mb-5" style="width: 25rem;">
                <div>
                    <img src="~/Assets/images/Nourish-the-Children-in--African-country.png" class="card-img-top" alt="..." style="width: 106%; margin-left: -11px;">
                     <div class="pin">
                      <img src="~/Assets/images/pin.png" style="margin-left: 5%;">&nbsp;&nbsp;<span style="color:white; font-size: 13px;">Rajkot</span>
                     </div>
                    <div class="">
                      <button id="heart"> <i class="bi bi-heart-fill" style="color:red"></i></button>
                    </div>
                     <div class="">
                      <button id="stop"> <i class="bi bi-stop-fill" style="color:white"></i></button>
                    </div>
                    <div class="bgtheme">
                        <spam class="imgtheme1">Nutrition</spam>
                    </div>
                </div>
                  
                 <div class="card-body">
                    <h5 class="card-title">Grow Tress - On The Path To Environment Sustanability</h5>
                    <p color"card-text" style="color:#CCCCCC">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....</p>
                 </div>

                <div class="card-body">
                     <div class="row" style="margin-top:-12%;">
                          <div class="col">
                              <span id="Organisation">Tree Canada</span>
                          </div>
                            <div class="col">
                                <img src="~/Assets/images/selected-star.png"/>
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/selected-star.png" />
                                <img src="~/Assets/images/star.png" />
                                <img src="~/Assets/images/star.png" />
                            </div>
                     </div>
                 </div>
                 <div class="card-body">
                     <div class="row st_et">
                        <spam class="st_etdate">From 10/01/2019 unitl 25/02/2019</spam>
                    </div>
                 </div><br />
                <div class="card-body paddingforborder">
                    <div class="row borderforTGM" style="margin-top:-16%;">
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/Seats-left.png" style="margin-top: 14%;">
                            <p class="totalseates">10</p>
                            <p class="searestext">Seates Left</p>
                        </div>
                        <div class="col" style="color:black;">
                            <img src="~/Assets/images/deadline.png" style="margin-top: 10%;"/>
                            <span style="color: #414141;">19/09/2001</span>
                            <p class="deadlinetext">Deadline</p>
                        </div>
                    </div>
                 </div>

                 <div class="card-body">
                     <button id="btnapply">
                         <sapn style="color:#F88634;"> Apply &nbsp;<img src="~/Assets/images/right-arrow.png"/>
                         </sapn>
                        
                     </button>
                 </div><br /><br />
            </div>
     
            <div class="card mb-5" style="width: 25rem;">
                      <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                      </ul>
                      <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
            </div>
        
           <div class="card mb-5" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>

            <div class="card mb-5 shadow-sm" style="width: 25rem;">
                  <img src="~/Assets/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="..." style="width:100%" >
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>
    </div>
</div>





</body>
</html>
