<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  


    <title>header</title>
</head>
<body>

        <div class="container-fluid" >
          <div class="row" >
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
            <nav class="navbar navbar-expand "> 


                    <div class="row">
            <ul class="navbar-nav">
                <div class="col-sm-1 col-1"></div>
                <div class="col-sm-3 col-6 d-flex">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">stories</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Policy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">policy1</a></li>
                  <li><a class="dropdown-item" href="#">policy2</a></li>
                  <li><a class="dropdown-item" href="#">policy3</a></li>
                </ul>
              </li>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-3 col-5">
              <div class="d-flex ">

                <img src="Assets/user-img.png" class="img rounded-5" style="height: 40px; width: 40px;">


                <div class="btn-group">
                  <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Evan Donohue
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                  </ul>
                </div>

              </div>
            </div>




            </ul>
          </div>


        </nav>
        </div>
        <div class="col-lg-1"></div>
        <hr>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
        <div class="row">
          <div class="col-md-6 pb-3 " >
            <div class="search d-flex">
              <button class="btn   "  >
              <i class="fa fa-search"></i>
            </button>
              <input type="text" class="form-control " placeholder="Search Mission...">

            </div>
            </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-3 ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Policy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">policy1</a></li>
                  <li><a class="dropdown-item" href="#">policy2</a></li>
                  <li><a class="dropdown-item" href="#">policy3</a></li>
                </ul>
              </div>
              <div class="col-3" >
                <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    &nbsp; &nbsp; City
                  </button>

                  <ul class="dropdown-menu "  aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-3">
                <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Theme
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-3">
                <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>
        </div>
        <hr>

        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <nav class="navbar navbar-expand ">
              <ul class="navbar-nav row  ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12  ">
                  <div class="d-flex endtext2">
                    <li class="nav-item">
                      <a class="nav-link  active" aria-current="page" href="#">
                        <h3>Explore 72 missions</h3>
                      </a>
                    </li>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class=" d-flex  endtext1 ">
                    <div class="btn-group pe-4">
                      <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                      </ul>
                    </div>
                    <div class="pe-3">
                      <img src="Assets/grid.png" class=" " style="height: 40px; width: 40px;">
                    </div>
                    <div style="padding: 5px;">
                      <img src="Assets/list.png" class="  " style="height: 30px; width: 30px;">
                    </div>
                  </div>
                </div>
              </ul>
            </nav>  


<div class="row bootstrap snippets">


  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/Grow-Trees-On-the-path-to-environment-sustainability.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="~/Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="~/Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/Nourish-the-Children-in--African-country.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/Animal-welfare-&-save-birds-campaign.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <div class="thumbnail col-lg-12 col-md-12 col-sm-12 ">
              <div class="card">
                <img src="Assets/Plantation-and-Afforestation-programme.png" class="img-fluid">
                <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle rounded-5 p-2" style="background-color: white;">Children</div>
                </div>
              <div class="card-img-overlay ">
                <div class="d-flex flex-column  text-end pb-5" style="margin-inline: auto;">
                <div class="">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                <img src="Assets/pin.png" class="img-fluid cancle-img" alt="">
                <span style="color:white;">Torento</span>
                </button>
                </div>
                <div class="pt-1">
                <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                  <img src="Assets/heart.png" class=" img-fluid cancle-img" alt="">
                </div>
                <div class="">
                  </button>
                  <button class="btn btn-box rounded-5" style="background-color: black ; opacity: 30%;">
                    <img src="Assets/user.png" class=" img-fluid cancle-img" alt="">
                    </button>
                  </div>
                </div>
                </div>
                </div>
                <div class="caption prod-caption pt-2 ">
                    <h3>Grow Trees - on the path to environment sustainability </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illo quibusdam voluptatibus culpa, beatae illum.</p>
                    <div class="d-flex rating1">
                      <div ><h5>Tree canada</h5></div>
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div> 
                    </div>
                    <br>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"></li>
                      <li class="list-group-item">
                    <div class=" text-center py-3" style="margin-top: -45px; ">    
                      <button type="submit" href="#" class="btn rounded-5  " style="border-color: black; background: white"> From 10/01/2019 untill 25/02/2019</button>
                  </div>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="card  border-0">
                            <div class=" d-flex flex-row">
                            <div class=""><img src="Assets/Seats-left.png" class="img-fluid"></div>
                            <div class=" ">
                              <h5 class="card-title" style="text-transform: start;" > &nbsp; 10</h5>
                              <p class="card-text " >Seats left</p>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="card  border-0"> 
                      <div class=" d-flex flex-row">
                          <div class=""><img src="Assets/deadline.png" class="img-fluid"></div>
                          <div class=" ">
                            <h6 class="card-title" >09/01/2019</h6>
                            <p class="card-text " >Deadline</p>
                          </div>
                        </div> 
                    </div>
                      </div>
                    </div>
                    </li>
                    <li class="list-group-item"></li>
                    </ul>
                      <div class=" text-center pb-2"> 
                            <button type="submit" href="#" class="btn rounded-5  " style="border-color: #F88634; color: #F88634;"> Apply &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
            </div>    
    </div>
    </div>
</div>





    <!-- Cart -->

    <!-- End Cart -->
</div>

          </div>

        </div>

        <div class="col-lg-1"></div>
      </div>

</body>
</html>